<script>
    $(document).ready(function () {
        let positioncode = "";
        let status = "";

        LoadTable();

        $('#position-dataTable tbody').on('click', 'tr', function () {
        var dataRow = [];
        $(this).closest('tr').find('td').each(function () {
            dataRow.push($(this).text());
        });
        console.log(dataRow);
        positioncode = dataRow[0];
        status = dataRow[4];
        })

        $(document).on('click', '#editBtn', function(){
            $('#positioncode').val(positioncode);
            $('#positionModal').modal('show');
            console.log(positioncode);
        })

        $(document).on('click', '#addBtn', function () {
            let positionname = $('#positionname').val();
            var message = "";
 
            if (positionname == '') { message += 'POSITIONNAME ' }

            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/position/save',
                    data: {
                        positionname: positionname,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'exist') {
                            warning('Exist', `${positionname} already exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })

        $(document).on('click', '#saveBtn', function () {
            let positionnamemodal = $('#positionnamemodal').val();
            
            var message = "";

            if (positionnamemodal == '') { message += 'POSITIONNAME ' }

            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/position/edit',
                    data: {
                        positionnamemodal: positionnamemodal,
                        positioncode: positioncode,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'exist') {
                            warning('Exist', `${positionnamemodal} already exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })

        $(document).on('click', '#activeBtn', function(){
            console.log(positioncode);
            console.log(status);
            $.ajax({
                    type: 'POST',
                    url: '/position/status',
                    data: {
                        status: status,
                        positioncode: positioncode,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'notexist') {
                            warning(`${positioncode} does not exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
        });

        $(document).on('click', '#inactiveBtn', function(){
            console.log(positioncode);
            console.log(status);
            $.ajax({
                    type: 'POST',
                    url: '/position/status',
                    data: {
                        status: status,
                        positioncode: positioncode,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'notexist') {
                            warning(`${positioncode} does not exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
        });

        function LoadTable() {
            $('#position-dataTable').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 400,
                'scrollCollapse': true,
                'serverMethod': 'GET',
                'ajax': {
                    'url': '/position/load',
                    'dataSrc': (json) => {
                        var finalData = [];
                        var data = json.data;

                        console.log(data);
                        $.each(data, (key, item) => {
                            var action = '';
                            var status = item.status;

                            if (status == 'ACTIVE') {
                                action = '<button id="editBtn" class="btn btn-outline-primary" name="editBtn" data-toggle="modal" data-target="#positionModal">EDIT</button> <button id="inactiveBtn" class="btn btn-outline-primary" name="inactiveBtn">INACTIVE</button>'
                            }
                            if (status == 'INACTIVE') {
                                action = '<button id="editBtn" class="btn btn-outline-primary" name="editBtn" data-toggle="modal" data-target="#positionModal">EDIT</button> <button id="activeBtn" class="btn btn-outline-primary" name="activeBtn">ACTIVE</button>'
                            }

                            finalData.push({
                                positioncode: item.positioncode,
                                positionname: item.positionname,
                                status: item.status,
                                createdby: item.createdby,
                                createddate: item.createddate,
                                action: action,
                            })

                        })
 
                        return finalData;
                    },
                },
                'columnDefs': [{
                    targets: 1,
                    className: 'td-indent',
                }],
                'columns': [
                    { data: 'positioncode' },
                    { data: 'positionname' },
                    { data: 'createdby' },
                    { data: 'createddate' },
                    { data: 'status' },
                    { data: 'action' },
                ],
                initComplete: function () {
                }
            });
        }
    })
</script>