<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="deductionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Deduction</h5>
        </div>
        <div class="modal-body">
            <div class="row mb-2">
                <div class="col-lg-12">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <label class="form-label" for="mu_username">Employee ID</label>
                                    <input id="employeeidmodal" name="employeeidmodal" type="text" class="form-control" placeholder="Enter new late here" aria-label="fullname" aria-describedby="basic-addon1" disabled>    
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <label class="form-label" for="mu_username">Late</label>
                                    <input id="latemodal" name="latemodal" type="text" class="form-control" placeholder="Enter new late here" aria-label="fullname" aria-describedby="basic-addon1">    
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="mu_password">Absent</label>
                                    <input id="absentmodal" name="absentmodal" type="text" class="form-control" placeholder="Enter new absent here" aria-label="fullname" aria-describedby="basic-addon1">    
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4">
                                    <label class="form-label" for="mu_password">SSS</label>
                                    <input id="sssmodal" name="sssmodal" type="text" class="form-control" placeholder="Enter new SSS here" aria-label="fullname" aria-describedby="basic-addon1">         
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="mu_password">HDMF</label>
                                    <input id="hdmfmodal" name="hdmfmodal" type="text" class="form-control" placeholder="Enter new HDMF here" aria-label="fullname" aria-describedby="basic-addon1">      
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="mu_password">Philhealth</label>
                                    <input id="philhealthmodal" name="philhealthmodal" type="text" class="form-control" placeholder="Enter new Philhealth here" aria-label="fullname" aria-describedby="basic-addon1">      
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label" for="mu_password">Cash advance</label>
                                    <input id="cashadvancemodal" name="cashadvancemodal" type="text" class="form-control" placeholder="Enter new cash advance here" aria-label="fullname" aria-describedby="basic-addon1">         
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="mu_password">Loan</label>
                                    <input id="loanmodal" name="loanmodal" type="text" class="form-control" placeholder="Enter new loan here" aria-label="fullname" aria-describedby="basic-addon1">      
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="mu_password">Tax</label>
                                    <input id="taxmodal" name="taxmodal" type="text" class="form-control" placeholder="Enter new tax here" aria-label="fullname" aria-describedby="basic-addon1">      
                                </div>
                            </div>
                        </div>      
                </div>
            </div>
        </div>
        <div class="modal-footer">

          <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>
            Close</button>
          <button type="button" id="saveBtn" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm"><i class="fa fa-check" aria-hidden="true"></i>
            Save</button>
        </div>
      </div>
    </div>
  </div>
<!-- Begin PCreated by Content -->
<div class="container-fluid">

    <!-- PCreated by Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h1 class="page-title">Deduction</h1>
    </div> 
    <!-- Content Row -->
    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label class="form-label" for="mu_fullname">Employee ID</label>
                            <select class="entry-input form-control mb-2" name="employeeid" id="employeeid">
                                <option value="">--Select here--</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="mu_username">Late</label>
                            <input id="late" name="late" type="text" class="form-control" placeholder="Enter late here" aria-label="fullname" aria-describedby="basic-addon1">    
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">Absent</label>
                            <input id="absent" name="absent" type="text" class="form-control" placeholder="Enter absent here" aria-label="fullname" aria-describedby="basic-addon1">    
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">SSS</label>
                            <input id="sss" name="sss" type="text" class="form-control" placeholder="Enter your SSS here" aria-label="fullname" aria-describedby="basic-addon1">         
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">HDMF</label>
                            <input id="hdmf" name="hdmf" type="text" class="form-control" placeholder="Enter your HDMF here" aria-label="fullname" aria-describedby="basic-addon1">      
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">Philhealth</label>
                            <input id="philhealth" name="philhealth" type="text" class="form-control" placeholder="Enter your Philhealth here" aria-label="fullname" aria-describedby="basic-addon1">      
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">Cash advance</label>
                            <input id="cashadvance" name="cashadvance" type="text" class="form-control" placeholder="Enter your cash advance here" aria-label="fullname" aria-describedby="basic-addon1">         
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">Loan</label>
                            <input id="loan" name="loan" type="text" class="form-control" placeholder="Enter your loan here" aria-label="fullname" aria-describedby="basic-addon1">      
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">Tax</label>
                            <input id="tax" name="tax" type="text" class="form-control" placeholder="Enter your tax here" aria-label="fullname" aria-describedby="basic-addon1">      
                        </div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <button id="addBtn" name="addBtn" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm w-50">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Add
                        </button>
                    </div>
                </div>      
            </div>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold table-title">DataTables Example</h6>
        </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="deduction-dataTable" width="100%" cellspacing="10">
                <thead>
                    <tr>
                        <th class="col-1 text-start">Employee ID</th>
                        <th class="col-1 text-start">Late</th>
                        <th class="col-1 text-start">Absent</th>
                        <th class="col-1 text-start">SSS</th>
                        <th class="col-1 text-start">HDMF</th>
                        <th class="col-1 text-start">Philhealth</th>
                        <th class="col-1 text-start">Cash advance</th>
                        <th class="col-1 text-start">Loan</th>
                        <th class="col-1 text-start">Tax</th>
                        <th class="col-1 text-start">Payroll date</th>
                        <th class="col-1 text-start">Cutoff date</th>
                        <th class="col-1 text-start">Action</th>
                    </tr>
                </thead>
                    
                <tbody>
                    <tr>
                        <td class="td-hover-color">210206</td>
                        <td class="td-hover-color">in minutes</td>
                        <td class="td-hover-color">in days(half day will be .5)</td>                                        
                        <td class="td-hover-color">rate</td>
                        <td class="td-hover-color">rate</td>
                        <td class="td-hover-color">rate</td>
                        <td class="td-hover-color">rate</td>
                        <td class="td-hover-color">rate</td>
                        <td class="td-hover-color">rate</td>
                        <td class="td-hover-color">15/04/2023</td>
                        <td class="td-hover-color">111111111111111111111111111</td>
                        <td class="text-center">
                            <button id="" name="" type="button" class="btn btn-outline-primary button-margin ">Inactive</button>
                            <button id="" name="" type="button" class="btn btn-outline-primary ">Edit</button>  
                        </td>                                  
                    </tr>                 
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>