<script>
    $(document).ready(function () {
        let departmentcode = "";
        let status = "";

        LoadTable();

        $('#department-dataTable tbody').on('click', 'tr', function () {
        var dataRow = [];
        $(this).closest('tr').find('td').each(function () {
            dataRow.push($(this).text());
        });
        console.log(dataRow);
        departmentcode = dataRow[0];
        status = dataRow[2];
        })

        $(document).on('click', '#editBtn', function(){
            $('#departmentcode').val(departmentcode);
            $('#departmentModal').modal('show');
            console.log(departmentcode);
        })
 
        $(document).on('click', '#addBtn', function () {
            let departmentname = $('#departmentname').val();
            
            var message = "";

            if (departmentname == '') { message += 'Department Name' }
            
            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/department/save',
                    data: {
                        departmentname: departmentname,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'exist') {
                            warning('Exist', `${departmentname} has already registered!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })

        //Edit Update
        $(document).on('click', '#saveBtn', function () {
            let departmentnamemodal = $('#departmentnamemodal').val();
            
            var message = "";

            if (departmentnamemodal == '') { message += 'ROLENAME ' }

            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/department/edit',
                    data: {
                        departmentnamemodal: departmentnamemodal,
                        departmentcode: departmentcode,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'exist') {
                            warning('Exist', `${departmentnamemodal} already exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })

        //Status Update
        $(document).on('click', '#activeBtn', function(){
            console.log(departmentcode);
            console.log(status);
            $.ajax({
                    type: 'POST',
                    url: '/department/status',
                    data: {
                        status: status,
                        departmentcode: departmentcode,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'notexist') {
                            warning(`${departmentcode} does not exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
        });

        $(document).on('click', '#inactiveBtn', function(){
            console.log(departmentcode);
            console.log(status);
            $.ajax({
                    type: 'POST',
                    url: '/department/status',
                    data: {
                        status: status,
                        departmentcode: departmentcode,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'notexist') {
                            warning(`${departmentcode} does not exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
        });

        function LoadTable() {
            $('#department-dataTable').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 400,
                'scrollCollapse': true,
                'serverMethod': 'GET',
                'ajax': {
                    'url': '/department/load',
                    'dataSrc': (json) => {
                        var finalData = [];
                        var data = json.data;

                        console.log(data);
                        $.each(data, (key, item) => {
                            var action = '';
                            var status = item.status;

                            if (status == 'ACTIVE') {
                                action = '<button id="editBtn" class="btn btn-outline-primary" name="editBtn" data-toggle="modal" data-target="#departmentModal">EDIT</button> <button id="inactiveBtn" class="btn btn-outline-primary" name="inactiveBtn">INACTIVE</button>'
                            }
                            if (status == 'INACTIVE') {
                                action = '<button id="editBtn" class="btn btn-outline-primary" name="editBtn" data-toggle="modal" data-target="#departmentModal">EDIT</button> <button id="activeBtn" class="btn btn-outline-primary" name="activeBtn">ACTIVE</button>'
                            }

                            finalData.push({
                                departmentcode: item.departmentcode,
                                departmentname: item.departmentname,
                                status: item.status,
                                createdby: item.createdby,
                                createddate: item.createddate,
                                action: action,
                            })

                        })
 
                        return finalData;
                    },
                },
                'columnDefs': [{
                    targets: 1,
                    className: 'td-indent',
                }],
                'columns': [
                    { data: 'departmentcode' },
                    { data: 'departmentname' },
                    { data: 'status' },
                    { data: 'createdby' },
                    { data: 'createddate' },
                    { data: 'action' },
                ],
                initComplete: function () {
                }
            });
        }
    })
</script>