<!-- LOADER -->
<div class="loader-wrapper">
  <div class="spinner"></div>
</div>
<!-- LOADER -->
<div class="loader-wrapper">
  <span class="loader"><span class="loader-inner"></span></span>
</div>

<!-- Logout Modal-->
<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Select "Logout" below if you are ready to end your current session.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
        <button name="logoutBtn" id="logoutBtn" class="btn btn-primary">
          Logout
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pCreated bys-->
<script src="/javascripts/js/sb-admin-2.min.js"></script>

<!-- PCreated by level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- PCreated by level custom scripts -->
<script src="/javascripts/js/demo/datatables-demo.js"></script>

<!-- SWAL-->
<script src="/javascripts/sweetalert.min.js"></script>

<!-- XLSX -->
<script src="/javascripts/xlsx.mini.min.js"></script>

<script>
  hidespinner();

  function showspinner() {
    console.log("show loader");
    $(".loader-wrapper").show();
  }

  function hidespinner() {
    console.log("hide loader");

    setTimeout(() => {
      $(".loader-wrapper").hide();
    }, 3000);
  }

  function success(title, text) {
    swal({
      title: title,
      text: text,
      icon: "success",
    });
  }
  function warning(title, text) {
    swal({
      title: title,
      text: text,
      icon: "warning",
    });
  }
  function info(title, text) {
    swal({
      title: title,
      text: text,
      icon: "info",
    });
  }
  function errormsg(err) {
    swal({
      title: "Error!",
      text: err,
      icon: "error",
    });
  }

  $(document).on("click", "#logoutBtn", function () {
    $.ajax({
      type: "POST",
      url: "/login/logout",
      success: function (result) {
        success("Logout", "Successfully");
        location.replace("/");
      },
      error: function (err) {
        errormsg(err);
      },
    });
  });

  const numberInputs = document.querySelectorAll(".number-validator");

  numberInputs.forEach(function (input) {
    input.addEventListener("input", function () {
      const inputValue = this.value;

      if (inputValue.length === 1 && inputValue === "0") {
        this.value = "";
      } else if (!/^\d*$/.test(inputValue)) {
        this.value = inputValue.replace(/\D/g, "");
      }
    });
  });
</script>
