<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon">
            <img src="/images/img/logo.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="sidebar-brand-text mx-3">Payroll System</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - PCreated bys Collapse Menu -->
    

    <!-- Nav Item - Utilities Collapse Menu -->
    <% if (roletype === 'Admin' && accesstype === 'Administrator') { %>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Master Department</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Authentication:</h6>
                    <a class="collapse-item" href="/users">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Users</span>
                    </a>
                    <h6 class="collapse-header">Master type:</h6>
                    <a class="collapse-item" href="/roles">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span> Roles</span>
                    </a>
                    <a class="collapse-item" href="/position">
                        <i class="fa fa-street-view" aria-hidden="true"></i>
                        <span>Position</span>
                    </a>
                    <a class="collapse-item" href="/department">
                        <i class="fas fa-fw fa-sitemap"></i>
                        <span>Department</span>
                    </a>
                    <a class="collapse-item" href="/access">
                        <i class="fa fa-key" aria-hidden="true"></i>
                        <span>Access</span>
                    </a>
                    <a class="collapse-item" href="/employee">
                        <i class="fa fa-address-card" aria-hidden="true"></i>
                        <span>Employee</span>
                    </a>
                </div>
            </div>
        </li>
    <% } %>

  
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities2"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fa fa-book" aria-hidden="true"></i>
            <span>Time Record</span>
        </a>
        <div id="collapseUtilities2" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
               
                <a class="collapse-item" href="/attendance">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span>Attendance</span>
                </a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities3"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fa fa-id-card" aria-hidden="true"></i>
            <span>ID</span>
        </a>
        <div id="collapseUtilities3" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
               
                <a class="collapse-item" href="/governmentid">
                    <i class="fa fa-id-badge" aria-hidden="true"></i>
                    <span>Government ID</span>
                </a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities4"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
            <span>Payroll</span>
        </a>
        <div id="collapseUtilities4" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
               
                <a class="collapse-item" href="/deduction">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    <span>Deduction</span>
                </a>
                <a class="collapse-item" href="/allowance">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <span>Allowance</span>
                </a>
                <a class="collapse-item" href="/payroll">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>Payroll</span>
                </a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities5"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
            <span>Salary</span>
        </a>
        <div id="collapseUtilities5" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
               
                <a class="collapse-item" href="/salary">
                    <i class="fa fa-id-badge" aria-hidden="true"></i>
                    <span>Employee</span>
                </a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

     <!-- Sidebar Toggler (Sidebar) -->
     <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>