<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon">
            <img src="/images/img/logo.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="sidebar-brand-text mx-3">Payroll System</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - PCreated bys Collapse Menu -->
    

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Master Department</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Authentication:</h6>
                <a class="collapse-item" href="/users">
                    <i class="fas fa-fw fa-user-secret" aria-hidden="true"></i>
                    <span>Users</span>
                </a>
                <h6 class="collapse-header">Master type:</h6>
                <a class="collapse-item" href="/roles">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span> Roles</span>
                </a>
                <a class="collapse-item" href="/position">
                    <i class="fa fa-street-view" aria-hidden="true"></i>
                    <span>Position</span>
                </a>
                <a class="collapse-item" href="/department">
                    <i class="fas fa-fw fa-sitemap"></i>
                    <span>Department</span>
                </a>
                <a class="collapse-item" href="/access">
                    <i class="fas fa-fw fa-toilet-paper" aria-hidden="true"></i>
                    <span>Access</span>
                </a>
                <a class="collapse-item" href="/employee">
                    <i class="fas fa-fw fa-users" aria-hidden="true"></i>
                    <span>Employee</span>
                </a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

     <!-- Sidebar Toggler (Sidebar) -->
     <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>