:root{
    --clr-base: #700b12;
    --clr-top: #911F27;
    --clr-btn: #DD5353;
    --clr-default: #eb1c23;
    --clr-white: #fff;
    --clr-bg-table: #ff6459;
}

.bg-gradient-primary{
    background-image: linear-gradient(180deg,var(--clr-top) 10%,var(--clr-top) 100%) !important;
}
.span-font-size{
    font-size: 25px !important;
}

.green{
    background-color: var(--clr-base);
}

.img-fluid{
    border-radius: 50px !important;
    height: 60px;
    width: 60px;
    margin-left: 8px;
}
.fa, .fas{
    margin-right: 10px !important;
}
.form-label{
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 15px;
}

.bg-custom{
    background-color: #F1F6F9 !important;
}

.btn-outline-primary:hover{
    background-color: var(--clr-btn) !important;
    color:#fff !important;
}
.btn-outline-primary{
    color: var(--clr-btn) !important;
    border-color: var(--clr-btn) !important;
}

button{
    width: 100px;
}

.btn{
    margin-bottom: 1px !important;
}

.table-title, .page-title{
    color: var(--clr-btn) !important;
}

.page-item.active .page-link{
    background-color: var(--clr-btn) !important;
    border-color: var(--clr-btn) !important;
}

.topbar-icon{
    color: var(--clr-btn);
}

.td-hover-color:hover{
    background-color: var(--clr-btn);
    color: var(--clr-white);
}

table {
    border-collapse: collapse;
  }
  
  td {
    border: 1px solid black;
    padding: 5px;
    width: auto;
  }