:root{
    --clr-base: #700b12;
    --clr-top: #911F27;
    --clr-btn: #DD5353;
    --clr-default: #eb1c23;
    --clr-white: #fff;
    --clr-bg-table: #ff6459;
}

.bg-gradient-primary{
    background-image: linear-gradient(180deg,var(--clr-top) 10%,var(--clr-top) 100%) !important;
}
.span-font-size{
    font-size: 25px !important;
}

.green{
    background-color: var(--clr-base);
}

.img-fluid{
    border-radius: 50px !important;
    height: 60px;
    width: 60px;
    margin-left: 8px;
}
.fa, .fas{
    margin-right: 10px !important;
}
.form-label{
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 15px;
}

.bg-custom{
    background-color: #F1F6F9 !important;
}

.btn-outline-primary:hover{
    background-color: var(--clr-btn) !important;
    color:#fff !important;
}
.btn-outline-primary{
    color: var(--clr-btn) !important;
    border-color: var(--clr-btn) !important;
}

button{
    width: 100px;
}

.btn{
    margin-bottom: 1px !important;
}

.table-title, .page-title{
    color: var(--clr-btn) !important;
}

.page-item.active .page-link{
    background-color: var(--clr-btn) !important;
    border-color: var(--clr-btn) !important;
}

.topbar-icon{
    color: var(--clr-btn);
}



  th{
    text-align: center !important;
  }
  
  td {
    text-align: center !important;
  }

  .modal-header{
    background-color: var(--clr-top) !important;
    color: white;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 100%;
    height: 400px;
    border: 1px solid var(--clr-base);
    background-color: var(--clr-top);
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  .logintext{
    color: white;
  }

  .logintextbtn{
    color: black !important;
  }

  .btn-info {
    background-color: white !important;
    border-color: white !important;
}
  