<!-- Modal -->
<div
  class="modal fade bd-example-modal-lg"
  id="salaryModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-keyboard="false"
  data-backdrop="static"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Allowance</h5>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-lg-12">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col-md-12">
                  <label class="form-label" for="departmentname"
                    >Employee ID</label
                  >
                  <input
                    id="employeeid"
                    name="employeeid"
                    type="text"
                    class="form-control"
                    placeholder="Enter new firstname"
                    aria-label="fullname"
                    aria-describedby="basic-addon1"
                    disabled
                  />
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-4">
                  <label class="form-label" for="departmentname"
                    >Firstname</label
                  >
                  <input
                    id="firstnamemodal"
                    name="firstnamemodal"
                    type="text"
                    class="form-control"
                    placeholder="Enter new firstname"
                    aria-label="fullname"
                    aria-describedby="basic-addon1"
                  />
                </div>
                <div class="col-md-4">
                  <label class="form-label" for="departmentname"
                    >Middlename</label
                  >
                  <input
                    id="middlenamemodal"
                    name="middlenamemodal"
                    type="text"
                    class="form-control"
                    placeholder="Enter new middlename"
                    aria-label="fullname"
                    aria-describedby="basic-addon1"
                  />
                </div>
                <div class="col-md-4">
                  <label class="form-label" for="departmentname"
                    >Lastname</label
                  >
                  <input
                    id="lastnamemodal"
                    name="lastnamemodal"
                    type="text"
                    class="form-control"
                    placeholder="Enter new lastname"
                    aria-label="fullname"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-6">
                  <label class="form-label" for="departmentname"
                    >Daily Rate</label
                  >
                  <input
                    id="dailyratemodal"
                    name="dailyratemodal"
                    type="text"
                    class="form-control number-validator"
                    placeholder="Enter new daily rate"
                    aria-label="fullname"
                    aria-describedby="basic-addon1"
                  />
                </div>
                <div class="col-md-6">
                  <label for="departmentname">Monthly Salary</label>
                  <input
                    id="monthlysalarymodal"
                    name="monthlysalarymodal"
                    type="text"
                    class="form-control number-validator"
                    placeholder="Enter new monthly salary"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="form-label" for="mu_password">Department</label>
                  <select
                    class="entry-input form-control mb-2"
                    name="departmentlistmodal"
                    id="departmentlistmodal"
                  >
                    <option value="">- - - Select Department - - -</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="mu_password">Position</label>
                  <select
                    class="entry-input form-control"
                    name="positionlistmodal"
                    id="positionlistmodal"
                  >
                    <option value="">- - - Select Position - - -</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm"
          data-dismiss="modal"
        >
          <i class="fa fa-times" aria-hidden="true"></i> Close
        </button>
        <button
          type="button"
          id="saveBtn"
          class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm"
        >
          <i class="fa fa-check" aria-hidden="true"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Begin PCreated by Content -->
<div class="container-fluid">
  <!-- PCreated by Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h1 class="page-title">Employee Salary</h1>
  </div>
  <!-- Content Row -->
  <div class="row mb-2">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 mb-2">
              <label class="form-label" for="firstname">Employee Name</label>
              <select
                class="entry-input form-control mb-2"
                name="employeelist"
                id="employeelist"
              >
                <option value="">--Select here--</option>
              </select>
            </div>
          </div>
          <!-- <div class="row mb-4">
            <div class="col-md-4">
              <label class="form-label" for="departmentname">Firstname</label>
              <input
                id="firstname"
                name="firstname"
                type="text"
                class="form-control"
                placeholder="Enter your firstname"
                aria-label="fullname"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="col-md-4">
              <label class="form-label" for="departmentname">Middlename</label>
              <input
                id="middlename"
                name="middlename"
                type="text"
                class="form-control"
                placeholder="Enter your middlename"
                aria-label="fullname"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="col-md-4">
              <label class="form-label" for="departmentname">Lastname</label>
              <input
                id="lastname"
                name="lastname"
                type="text"
                class="form-control"
                placeholder="Enter your lastname"
                aria-label="fullname"
                aria-describedby="basic-addon1"
              />
            </div>
          </div> -->
          <div class="row mb-4">
            <div class="col-md-6">
              <label class="form-label" for="departmentname">Daily Rate</label>
              <input
                id="dailyrate"
                name="dailyrate"
                type="tel"
                class="form-control number-validator"
                placeholder="Enter your daily rate"
                aria-label="fullname"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label" for="departmentname"
                >Monthly Salary</label
              >
              <input
                id="monthlysalary"
                name="monthlysalary"
                type="email"
                class="form-control number-validator"
                placeholder="Enter your monthly salary"
                aria-label="fullname"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-6">
              <select
                class="entry-input form-control mb-2"
                name="departmentlist"
                id="departmentlist"
              >
                <option value="">- - - Select Department - - -</option>
              </select>
            </div>
            <div class="col-md-6">
              <select
                class="entry-input form-control"
                name="positionlist"
                id="positionlist"
              >
                <option value="">- - - Select Position - - -</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 mt-4">
            <button
              id="addBtn"
              name="addBtn"
              class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm w-50"
            >
              <i class="fa fa-plus" aria-hidden="true"></i>
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold table-title">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="salary_dataTable"
          width="100%"
          cellspacing="10"
        >
          <thead>
            <tr>
              <th class="col-1 text-start">Employee ID</th>
              <th class="col-1 text-center">Firstname</th>
              <th class="col-1 text-center">Middlename</th>
              <th class="col-1 text-center">Lastname</th>
              <th class="col-1 text-center">Position</th>
              <th class="col-1 text-center">Department</th>
              <th class="col-1 text-center">Daily Rate</th>
              <th class="col-1 text-center">Monthly Salary</th>
              <th class="col-1 text-center">Update by</th>
              <th class="col-1 text-center">Update Date</th>
              <th class="col-1 text-center">Status</th>
              <th class="col-1 text-center">Created by</th>
              <th class="col-1 text-center">Created date</th>
              <th class="col-2 text-end">Action</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
