<script>
    $(document).ready(function () {
        let rolecode = "";
        let status = "";

        LoadTable();

        $('#roles-dataTable tbody').on('click', 'tr', function () {
        var dataRow = [];
        $(this).closest('tr').find('td').each(function () {
            dataRow.push($(this).text());
        });
        console.log(dataRow);
        rolecode = dataRow[0];
        status = dataRow[2];
        })

        $(document).on('click', '#editBtn', function(){
            $('#rolecodemodal').val(rolecode);
            $('#roleModal').modal('show');
            console.log(rolecode);
        })

        $(document).on('click', '#addBtn', function () {
            let rolename = $('#rolename').val();
            
            var message = "";

            if (rolename == '') { message += 'Role Name' }

            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/roles/save',
                    data: {
                        rolename: rolename,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'exist') {
                            warning('Exist', `${rolename} has already registered!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })

        //Edit Update
        $(document).on('click', '#saveBtn', function () {
            let rolenamemodal = $('#rolenamemodal').val();
            
            var message = "";

            if (rolenamemodal == '') { message += 'ROLENAME ' }

            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/roles/edit',
                    data: {
                        rolenamemodal: rolenamemodal,
                        rolecode: rolecode,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'exist') {
                            warning('Exist', `${rolenamemodal} already exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })

        //Status Update
        $(document).on('click', '#activeBtn', function(){
            console.log(rolecode);
            console.log(status);
            $.ajax({
                    type: 'POST',
                    url: '/roles/status',
                    data: {
                        status: status,
                        rolecode: rolecode,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'notexist') {
                            warning(`${rolecode} does not exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
        });

        $(document).on('click', '#inactiveBtn', function(){
            console.log(rolecode);
            console.log(status);
            $.ajax({
                    type: 'POST',
                    url: '/roles/status',
                    data: {
                        status: status,
                        rolecode: rolecode,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'notexist') {
                            warning(`${rolecode} does not exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
        });

        //load table
        function LoadTable() {
            $('#roles-dataTable').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 400,
                'scrollCollapse': true,
                'serverMethod': 'GET',
                'ajax': {
                    'url': '/roles/load',
                    'dataSrc': (json) => {
                        var finalData = [];
                        var data = json.data;

                        console.log(data);
                        $.each(data, (key, item) => {
                            var action = '';
                            var status = item.status;

                            if (status == 'ACTIVE') {
                                action = '<button class="edit-btn btn btn-outline-primary" id="editBtn" data-toggle="modal" data-target="#userModal">EDIT</button> <button class="inactive-btn btn btn-outline-primary" id="inactiveBtn">INACTIVE</button>'
                            }
                            if (status == 'INACTIVE') {
                                action = '<button class="edit-btn btn btn-outline-primary" id="editBtn" data-toggle="modal" data-target="#userModal">EDIT</button> <button class="active-btn btn btn-outline-primary" id="activeBtn">ACTIVE</button>'
                            }

                            finalData.push({
                                rolecode: item.rolecode,
                                rolename: item.rolename,
                                status: item.status,
                                createdby: item.createdby,
                                createddate: item.createddate,
                                action: action,
                            })

                        })

                        return finalData;
                    },
                },
                'columnDefs': [{
                    targets: 1,
                    className: 'td-indent',
                }],
                'columns': [
                    { data: 'rolecode' },
                    { data: 'rolename' },
                    { data: 'status' },
                    { data: 'createdby' },
                    { data: 'createddate' },
                    { data: 'action' },
                ],
                initComplete: function () {

                }
            });
        }
    })


</script>