<script>
    $(document).ready(function () {
        let accesscode = "";
        let status = "";

        LoadTable();

        $('#access-table tbody').on('click', 'tr', function () {
        var dataRow = [];
        $(this).closest('tr').find('td').each(function () {
            dataRow.push($(this).text());
        });
        console.log(dataRow);
        accesscode = dataRow[0];
        status = dataRow[2];
        })

        $(document).on('click', '#editBtn', function(){
            $('#accesscode').val(accesscode);
            $('#accessModal').modal('show');
            console.log(accesscode);
        })

        $(document).on('click', '#addBtn', function () {
            let accessname = $('#accessname').val();

            var message = "";

            if (accessname == '') { message += 'Access Name' }

            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/access/save',
                    data: {
                        accessname: accessname,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'exist') {
                            warning('Exist', `${accessname} already exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })

        //Edit Update
        $(document).on('click', '#saveBtn', function () {
            let accessnamemodal = $('#accessnamemodal').val();
            
            var message = "";

            if (accessnamemodal == '') { message += 'ROLENAME ' }

            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/access/edit',
                    data: {
                        accessnamemodal: accessnamemodal,
                        accesscode: accesscode,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'exist') {
                            warning('Exist', `${accessnamemodal} already exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })

        //Status Update
        $(document).on('click', '#activeBtn', function(){
            console.log(accesscode);
            console.log(status);
            $.ajax({
                    type: 'POST',
                    url: '/access/status',
                    data: {
                        status: status,
                        accesscode: accesscode,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'notexist') {
                            warning(`${accesscode} does not exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
        });

        $(document).on('click', '#inactiveBtn', function(){
            console.log(accesscode);
            console.log(status);
            $.ajax({
                    type: 'POST',
                    url: '/access/status',
                    data: {
                        status: status,
                        accesscode: accesscode,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'notexist') {
                            warning(`${accesscode} does not exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
        });

        function LoadTable() {
            $('#access-table').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 400,
                'scrollCollapse': true,
                'serverMethod': 'GET',
                'ajax': {
                    'url': '/access/load',
                    'dataSrc': (json) => {
                        var finalData = [];
                        var data = json.data;

                        console.log(data);
                        $.each(data, (key, item) => {
                            var action = '';
                            var status = item.status;

                            if (status == 'ACTIVE') {
                                action = '<button id="editBtn" class="btn btn-outline-primary" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button> <button id="inactiveBtn" class="btn btn-outline-primary" name="inactiveBtn">INACTIVE</button>'
                            }
                            if (status == 'INACTIVE') {
                                action = '<button id="editBtn" class="btn btn-outline-primary" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button> <button id="activeBtn" class="btn btn-outline-primary" name="activeBtn">ACTIVE</button>'
                            }

                            finalData.push({
                                accesscode: item.accesscode,
                                accessname: item.accessname,
                                status: item.status,
                                createdby: item.createdby,
                                createddate: item.createddate,
                                action: action,
                            })

                        })
 
                        return finalData;
                    },
                },
                'columnDefs': [{
                    targets: 1,
                    className: 'td-indent',
                }],
                'columns': [
                    { data: 'accesscode' },
                    { data: 'accessname' },
                    { data: 'status' },
                    { data: 'createdby' },
                    { data: 'createddate' },
                    { data: 'action' },
                ],
                initComplete: function () {
                    console.log('init complete');
                }
            });
        }
    })
</script>