<!-- Begin PCreated by Content -->
<div class="container-fluid">

    <!-- PCreated by Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h1 class="page-title">Not Attendance</h1>
    </div>
    <!-- Content Row -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold table-title">DataTables Example</h6>
        </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="10">
                <thead>
                    <tr>
                        <th class = "col-1 text-start">Employee ID</th>
                        <th class = "col-3 text-center">Date</th>
                        <th class = "col-3 text-center">Start time</th>
                        <th class = "col-2 text-center">Start time location</th>
                        <th class = "col-2 text-center">End time</th>
                        <th class = "col-2 text-end">End time location</th>
                        <th class = "col-2 text-end">Start time device</th>
                        <th class = "col-2 text-end">End time device</th>
                        <th class = "col-2 text-end">Status</th>
                        <th class = "col-2 text-end">Action</th>
                    </tr>
                </thead>
                    
                <tbody>
                    <tr>
                        <td class="td-hover-color">210206</td>
                        <td class="td-hover-color">19/04/2023</td>
                        <td class="td-hover-color">8:00:00 AM</td>                                        
                        <td class="td-hover-color">MAIN OFFICE</td>
                        <td class="td-hover-color">5:00:00 AM</td>
                        <td class="td-hover-color">MAIN OFFICE</td>
                        <td class="td-hover-color">ANDROID, BROWSER</td>
                        <td class="td-hover-color">ANDROID, BROWSER</td>
                        <td class="td-hover-color">ACTIVE</td>
                        <td class="text-center">
                            <button id="" name="" type="button" class="btn btn-outline-primary button-margin ">Inactive</button>
                            <button id="" name="" type="button" class="btn btn-outline-primary ">Edit</button>  
                        </td>                                  
                    </tr>
                    <tr>
                        <td class="td-hover-color">210206</td>
                        <td class="td-hover-color">19/04/2023</td>
                        <td class="td-hover-color">8:00:00 AM</td>                                        
                        <td class="td-hover-color">MAIN OFFICE</td>
                        <td class="td-hover-color">5:00:00 AM</td>
                        <td class="td-hover-color">MAIN OFFICE</td>
                        <td class="td-hover-color">ANDROID, BROWSER</td>
                        <td class="td-hover-color">ANDROID, BROWSER</td>
                        <td class="td-hover-color">ACTIVE</td>
                        <td class="text-center">
                            <button id="" name="" type="button" class="btn btn-outline-primary button-margin ">Inactive</button>
                            <button id="" name="" type="button" class="btn btn-outline-primary ">Edit</button>  
                        </td>                                  
                    </tr>                                   
                    </tr>
                    <tr>
                        <td class="td-hover-color">210206</td>
                        <td class="td-hover-color">19/04/2023</td>
                        <td class="td-hover-color">8:00:00 AM</td>                                        
                        <td class="td-hover-color">MAIN OFFICE</td>
                        <td class="td-hover-color">5:00:00 AM</td>
                        <td class="td-hover-color">MAIN OFFICE</td>
                        <td class="td-hover-color">ANDROID, BROWSER</td>
                        <td class="td-hover-color">ANDROID, BROWSER</td>
                        <td class="td-hover-color">ACTIVE</td>
                        <td class="text-center">
                            <button id="" name="" type="button" class="btn btn-outline-primary button-margin ">Inactive</button>
                            <button id="" name="" type="button" class="btn btn-outline-primary ">Edit</button>  
                        </td>                                  
                    </tr>                                  
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>