<!-- Modal -->
<div
  class="modal fade bd-example-modal-lg"
  id="governmentidModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-keyboard="false"
  data-backdrop="static"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Government ID</h5>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-lg-12">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col-md-12">
                  <label class="form-label" for="mu_username"
                    >Employee ID</label
                  >
                  <input
                    id="employeeid"
                    name="employeeid"
                    type="text"
                    class="form-control"
                    placeholder="Enter new SSS here"
                    aria-label="fullname"
                    aria-describedby="basic-addon1"
                    disabled
                  />
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-6">
                  <label class="form-label" for="mu_username">SSS</label>
                  <input
                    id="sssmodal"
                    name="sssmodal"
                    type="text"
                    class="form-control"
                    placeholder="Enter new SSS here"
                    aria-label="fullname"
                    aria-describedby="basic-addon1"
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="mu_password"
                    >SSS Contribution</label
                  >
                  <input
                    id="ssscontributionmodal"
                    name="ssscontributionmodal"
                    type="text"
                    class="form-control"
                    placeholder="Enter new SSS contribution"
                    aria-label="fullname"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-6">
                  <label class="form-label" for="mu_password">HDMF</label>
                  <input
                    id="hdmfmodal"
                    name="hdmfmodal"
                    type="text"
                    class="form-control"
                    placeholder="Enter new HDMF here"
                    aria-label="fullname"
                    aria-describedby="basic-addon1"
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="mu_password"
                    >HDMF Contribution</label
                  >
                  <input
                    id="hdmfcontributionmodal"
                    name="hdmfcontributionmodal"
                    type="text"
                    class="form-control"
                    placeholder="Enter new HDMF contribution"
                    aria-label="fullname"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="form-label" for="mu_password">Philhealth</label>
                  <input
                    id="philhealthmodal"
                    name="philhealthmodal"
                    type="text"
                    class="form-control"
                    placeholder="Enter new Philhealth here"
                    aria-label="fullname"
                    aria-describedby="basic-addon1"
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="mu_password"
                    >Philhealth Contribution</label
                  >
                  <input
                    id="philhealthcontributionmodal"
                    name="philhealthcontributionmodal"
                    type="text"
                    class="form-control"
                    placeholder="Enter new Philhealth contribution"
                    aria-label="fullname"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm"
          data-dismiss="modal"
        >
          <i class="fa fa-times" aria-hidden="true"></i> Close
        </button>
        <button
          type="button"
          id="saveBtn"
          class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm"
        >
          <i class="fa fa-check" aria-hidden="true"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Begin PCreated by Content -->
<div class="container-fluid">
  <!-- PCreated by Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h1 class="page-title">Government ID</h1>
  </div>
  <!-- Content Row -->
  <div class="row mb-2">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-md-6">
              <label class="form-label" for="mu_fullname">Employee Name</label>
              <select
                class="entry-input form-control mb-2"
                name="employeelist"
                id="employeelist"
              >
                <option value="">--Select here--</option>
              </select>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-6">
              <label class="form-label" for="mu_username">SSS ID</label>
              <input
                id="sss"
                name="sss"
                type="text"
                class="form-control"
                placeholder="Enter your SSS here"
                aria-label="fullname"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label" for="mu_password"
                >SSS Contribution</label
              >
              <input
                id="ssscontribution"
                name="ssscontribution"
                type="text"
                class="form-control"
                placeholder="Enter your SSS contribution"
                aria-label="fullname"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-6">
              <label class="form-label" for="mu_password">HDMF ID</label>
              <input
                id="hdmf"
                name="hdmf"
                type="text"
                class="form-control"
                placeholder="Enter your HDMF here"
                aria-label="fullname"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label" for="mu_password"
                >HDMF Contribution</label
              >
              <input
                id="hdmfcontribution"
                name="hdmfcontribution"
                type="text"
                class="form-control"
                placeholder="Enter your HDMF contribution"
                aria-label="fullname"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-6">
              <label class="form-label" for="mu_password">Philhealth ID</label>
              <input
                id="philhealth"
                name="philhealth"
                type="text"
                class="form-control"
                placeholder="Enter your Philhealth here"
                aria-label="fullname"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label" for="mu_password"
                >Philhealth Contribution</label
              >
              <input
                id="philhealthcontribution"
                name="philhealthcontribution"
                type="text"
                class="form-control"
                placeholder="Enter your Philhealth contribution"
                aria-label="fullname"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
          <div class="col-md-4 mt-4">
            <button
              id="addBtn"
              name="addBtn"
              class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm w-50"
            >
              <i class="fa fa-plus" aria-hidden="true"></i>
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold table-title">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="governmentID-datatable"
          width="100%"
          cellspacing="10"
        >
          <thead>
            <tr>
              <th class="col-1 text-start">Employee ID</th>
              <th class="col-1 text-center">SSS</th>
              <th class="col-1 text-center">SSS Contribution</th>
              <th class="col-1 text-center">HDMF</th>
              <th class="col-1 text-center">HDMF Contribution</th>
              <th class="col-1 text-end">Philhealth</th>
              <th class="col-1 text-end">Philhealth Contribution</th>
              <th class="col-1 text-end">Status</th>
              <th class="col-1 text-end">Created by</th>
              <th class="col-2 text-end">Created date</th>
              <th class="col-1 text-end">Action</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="td-hover-color">1000</td>
              <td class="td-hover-color">0001</td>
              <td class="td-hover-color">69420</td>
              <td class="td-hover-color">0001</td>
              <td class="td-hover-color">69420</td>
              <td class="td-hover-color">0001</td>
              <td class="td-hover-color">69420</td>
              <td class="td-hover-color">Active</td>
              <td class="td-hover-color">SOLEDAD</td>
              <td class="td-hover-color">2004/05/15</td>
              <td class="text-center">
                <button
                  id=""
                  name=""
                  type="button"
                  class="btn btn-outline-primary button-margin"
                >
                  Inactive
                </button>
                <button
                  id=""
                  name=""
                  type="button"
                  class="btn btn-outline-primary"
                >
                  Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
