<!-- Begin PCreated by Content -->
<div class="container-fluid">

    <!-- PCreated by Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h1 class="page-title">Allowance</h1>
    </div>
    <!-- Content Row -->
    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="md_departmentname">Employee ID</label>
                            <select class="entry-input form-control mb-2" name="employeeid" id="employeeid">
                                <option value="">--Select here--</option>
                            </select>                        
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="md_departmentname">Allowance</label>
                            <input id="allowance" name="allowance" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="col-md-4 mt-4">
                            <button id="addBtn" name="addBtn" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm w-50">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Add
                            </button>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold table-title">DataTables Example</h6>
        </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="allowance-dataTable" width="100%" cellspacing="10">
                <thead>
                    <tr>
                        <th class = "col-1 text-start">Employee ID</th>
                        <th class = "col-3 text-center">Allowance</th>
                        <th class = "col-3 text-center">Status</th>
                        <th class = "col-2 text-center">Created by</th>
                        <th class = "col-2 text-center">Created date</th>
                        <th class = "col-2 text-end">Action</th>
                    </tr>
                </thead>
                    
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>