<script>
    $(document).ready(function () {
        let employeeid = "";
        let status = "";

        LoadTable();
        LoadList();

        $('#allowance-dataTable tbody').on('click', 'tr', function () {
        var dataRow = [];
        $(this).closest('tr').find('td').each(function () {
            dataRow.push($(this).text());
        });
        console.log(dataRow);
        employeeid = dataRow[0];
        status = dataRow[2];
        })

        $(document).on('click', '#editBtn', function(){
            $('#employeeidmodal').val(employeeid);
            $('#allowanceModal').modal('show');
            console.log(employeeid);
        })
      
        $(document).on('click', '#addBtn', function () {
            let employeeid = $('#employeeid').val();
            let allowance = $('#allowance').val();

            var message = "";

            if (employeeid == '') { message += 'Employee ID ' }
            if (allowance == '') { message += 'Allowance ' }

            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/allowance/save',
                    data: {
                        employeeid: employeeid,
                        allowance: allowance,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'exist') {
                            warning('Exist', `${employeeid} has already registered!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })   

        $(document).on('click', '#saveBtn', function () {
            let employeeid = $('#employeeidmodal').val();
            let allowance = $('#allowancemodal').val();

            var message = "";

            if (employeeid == '') { message += 'Employee ID ' }
            if (allowance == '') { message += 'Allowance ' }

            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/allowance/edit',
                    data: {
                        employeeid: employeeid,
                        allowance: allowance,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'exist') {
                            warning('Exist', `${employeeid} already registered!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })  

        $(document).on('click', '#activeBtn', function(){
            console.log(employeeid);
            console.log(status);
            $.ajax({
                    type: 'POST',
                    url: '/allowance/status',
                    data: {
                        status: status,
                        employeeid: employeeid,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'notexist') {
                            warning(`${employeeid} does not exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
        });

        $(document).on('click', '#inactiveBtn', function(){
            console.log(employeeid);
            console.log(status);
            $.ajax({
                    type: 'POST',
                    url: '/allowance/status',
                    data: {
                        status: status,
                        employeeid: employeeid,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'notexist') {
                            warning(`${employeeid} does not exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
        });

        function LoadList() {
            $.ajax({
                type: 'GET',
                url: '/employee/load',
                success: function (result) {
                    var data = result.data;

                    $.each(data, function (key, item) {
                        var options = new Option(item.employeeid, item.employeeid);
                        $(options).html(item.employeeid);
                        $('#employeeid').append(options);
                    });

                },
                error: function (err) {
                    errormsg(err);
                }
            })

        }    
          
        function LoadTable() {
                $('#allowance-dataTable').DataTable({
                    'destroy': true,
                    'processing': true,
                    'serverSide': true,
                    'paging': false,
                    'searching': false,
                    'info': false,
                    'scrollY': 400,
                    'scrollCollapse': true,
                    'serverMethod': 'GET',
                    'ajax': {
                        'url': '/allowance/load',
                        'dataSrc': (json) => {
                            var finalData = [];
                            var data = json.data;
    
                            console.log(data);
                            $.each(data, (key, item) => {
                                var action = '';
                                var status = item.status;

                                if (status == 'ACTIVE') {
                                    action = '<button id="editBtn" class="btn btn-outline-primary" name="editBtn" data-toggle="modal" data-target="#allowanceModal">EDIT</button> <button id="inactiveBtn" class="btn btn-outline-primary" name="inactiveBtn">INACTIVE</button>'
                                }
                                if (status == 'INACTIVE') {
                                    action = '<button id="editBtn" class="btn btn-outline-primary" name="editBtn" data-toggle="modal" data-target="#allowanceModal">EDIT</button> <button id="activeBtn" class="btn btn-outline-primary" name="activeBtn">ACTIVE</button>'
                                }

                                finalData.push({
                                    employeeid: item.employeeid,
                                    allowance: item.allowance,
                                    status: item.status,
                                    createdby: item.createdby,
                                    createddate: item.createddate,
                                    action: action,
                                })
    
                            })
    
                            return finalData;
                        },
                    },
                    'columnDefs': [{
                        targets: 1,
                        className: 'td-indent',
                    }],
                    'columns': [
                        { data: 'employeeid' },
                        { data: 'allowance' },
                        { data: 'status' },
                        { data: 'createdby' },
                        { data: 'createddate' },
                        { data: 'action' },
                    ],
                    initComplete: function () {
                        console.log('init complete');
                    }
                });
            }
        })
    </script>