<script>
    $(document).ready(function () {
            LoadTable();
            LoadList();
      
            $(document).on('click', '#addBtn', function () {
                let employeeid = $('#employeeid').val();
                let allowance = $('#allowance').val();
 
                var message = "";
    
                if (employeeid == '') { message += 'Employee ID ' }
                if (allowance == '') { message += 'And Allowance ' }

                if (message != '') {
                    warning('Required', `Please fill up ${message}`);
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: '/allowance/save',
                        data: {
                            employeeid: employeeid,
                            allowance: allowance,
                        },
                        success: function (result) {
                            if (result.msg == 'success') {
                                LoadTable();
                                success('Saved', 'Successfully')
                            }
    
                            if (result.msg == 'exist') {
                                warning('Exist', `${employeeid} has already registered!`);
                            }
    
                        },
                        error: function (err) {
                            errormsg(err);
                        }
                    })
                }
            })

        function LoadList() {
            $.ajax({
                type: 'GET',
                url: '/employee/load',
                success: function (result) {
                    var data = result.data;

                    $.each(data, function (key, item) {
                        var options = new Option(item.employeeid, item.employeeid);
                        $(options).html(item.employeeid);
                        $('#employeeid').append(options);
                    });

                },
                error: function (err) {
                    errormsg(err);
                }
            })
 
        }     
          
        function LoadTable() {
                $('#allowance-dataTable').DataTable({
                    'destroy': true,
                    'processing': true,
                    'serverSide': true,
                    'paging': false,
                    'searching': false,
                    'info': false,
                    'scrollY': 400,
                    'scrollCollapse': true,
                    'serverMethod': 'GET',
                    'ajax': {
                        'url': '/allowance/load',
                        'dataSrc': (json) => {
                            var finalData = [];
                            var data = json.data;
    
                            console.log(data);
                            $.each(data, (key, item) => {
                                var action = '';
                                var status = item.status;

                                if (status == 'ACTIVE') {
                                    action = '<button id="editBtn" class="btn btn-outline-primary" name="editBtn" data-toggle="modal" data-target="#allowanceModal">EDIT</button> <button id="inactiveBtn" class="btn btn-outline-primary" name="inactiveBtn">INACTIVE</button>'
                                }
                                if (status == 'INACTIVE') {
                                    action = '<button id="editBtn" class="btn btn-outline-primary" name="editBtn" data-toggle="modal" data-target="#allowanceModal">EDIT</button> <button id="activeBtn" class="btn btn-outline-primary" name="activeBtn">ACTIVE</button>'
                                }

                                finalData.push({
                                    employeeid: item.employeeid,
                                    allowance: item.allowance,
                                    status: item.status,
                                    createdby: item.createdby,
                                    createddate: item.createddate,
                                    action: action,
                                })
    
                            })
    
                            return finalData;
                        },
                    },
                    'columnDefs': [{
                        targets: 1,
                        className: 'td-indent',
                    }],
                    'columns': [
                        { data: 'employeeid' },
                        { data: 'allowance' },
                        { data: 'status' },
                        { data: 'createdby' },
                        { data: 'createddate' },
                        { data: 'action' },
                    ],
                    initComplete: function () {
                        console.log('init complete');
                    }
                });
            }
        })
    </script>