<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="payrollModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Allowance</h5>
        </div>
        <div class="modal-body">
            <div class="row mb-2">
                <div class="col-lg-12">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <label class="form-label" for="mu_username">Payroll date</label>
                                <input id="" name="" type="text" class="form-control" placeholder="Enter new payroll date here" aria-label="fullname" aria-describedby="basic-addon1">    
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="mu_password">Date covered</label>
                                <input id="" name="" type="text" class="form-control" placeholder="Enter new date covered here" aria-label="fullname" aria-describedby="basic-addon1">    
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="mu_password">Tax</label>
                                <input id="" name="" type="text" class="form-control" placeholder="Enter new tax here" aria-label="fullname" aria-describedby="basic-addon1">      
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <label class="form-label" for="mu_password">Absences</label>
                                <input id="" name="" type="text" class="form-control" placeholder="Enter new absences here" aria-label="fullname" aria-describedby="basic-addon1">         
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="mu_password">Late</label>
                                <input id="" name="" type="text" class="form-control" placeholder="Enter new lates here" aria-label="fullname" aria-describedby="basic-addon1">         
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="mu_password">Undertime</label>
                                <input id="" name="" type="text" class="form-control" placeholder="Enter new undertimes here" aria-label="fullname" aria-describedby="basic-addon1">      
                             </div>  
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-4">
                                <label class="form-label" for="mu_password">Allowance</label>
                                <input id="" name="" type="text" class="form-control" placeholder="Enter new allowance here" aria-label="fullname" aria-describedby="basic-addon1">      
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="mu_password">Cash Advance</label>
                                <input id="" name="" type="text" class="form-control" placeholder="Enter new Philhealth here" aria-label="fullname" aria-describedby="basic-addon1">         
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="mu_password">SSS</label>
                                <input id="" name="" type="text" class="form-control" placeholder="Enter new SSS here" aria-label="fullname" aria-describedby="basic-addon1">      
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-4">
                                <label class="form-label" for="mu_password">SSS Loan</label>
                                <input id="" name="" type="text" class="form-control" placeholder="Enter new SSS loan here" aria-label="fullname" aria-describedby="basic-addon1">      
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="mu_password">Philhealth</label>
                                <input id="" name="" type="text" class="form-control" placeholder="Enter new Philhealth here" aria-label="fullname" aria-describedby="basic-addon1">         
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="mu_password">HDMF</label>
                                <input id="" name="" type="text" class="form-control" placeholder="Enter new HDMF here" aria-label="fullname" aria-describedby="basic-addon1">      
                            </div>
                        </div>
                    </div>      
                </div>
            </div>
        </div>
        <div class="modal-footer">

          <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>
            Close</button>
          <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm"><i class="fa fa-check" aria-hidden="true"></i>
            Save</button>
        </div>
      </div>
    </div>
  </div>
<!-- Begin PCreated by Content -->
<div class="container-fluid">

    <!-- PCreated by Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h1 class="page-title">Payroll</h1>
    </div>
    <!-- Content Row -->
    <div class="row mb-2"> 
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label class="form-label" for="mu_fullname">Employee ID</label>
                            <select class="entry-input form-control mb-2" name="employeelist" id="employeelist">
                                <option value="">--Select here--</option>
                            </select>                        
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="mu_username">Payroll date</label>
                            <input id="payrolldate" name="payrolldate" type="text" class="form-control" placeholder="Enter your payroll date here" aria-label="fullname" aria-describedby="basic-addon1">    
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">Date covered</label>
                            <input id="datecovered" name="datecovered" type="text" class="form-control" placeholder="Enter your date covered here" aria-label="fullname" aria-describedby="basic-addon1">    
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">Absences</label>
                            <input id="absences" name="absences" type="text" class="form-control" placeholder="Enter your absences here" aria-label="fullname" aria-describedby="basic-addon1">         
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">Late</label>
                            <input id="late" name="late" type="text" class="form-control" placeholder="Enter your lates here" aria-label="fullname" aria-describedby="basic-addon1">         
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">Undertime</label>
                            <input id="undertime" name="undertime" type="text" class="form-control" placeholder="Enter your undertimes here" aria-label="fullname" aria-describedby="basic-addon1">      
                         </div>  
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">Allowance</label>
                            <input id="allowance" name="allowance" type="text" class="form-control" placeholder="Enter your allowance here" aria-label="fullname" aria-describedby="basic-addon1">      
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">Cash Advance</label>
                            <input id="cashadvance" name="cashadvance" type="text" class="form-control" placeholder="Enter your Philhealth here" aria-label="fullname" aria-describedby="basic-addon1">         
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">SSS</label>
                            <input id="sss" name="sss" type="text" class="form-control" placeholder="Enter your SSS here" aria-label="fullname" aria-describedby="basic-addon1">      
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">SSS Loan</label>
                            <input id="sssloan" name="sssloan" type="text" class="form-control" placeholder="Enter your SSS loan here" aria-label="fullname" aria-describedby="basic-addon1">      
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">Philhealth</label>
                            <input id="philhealth" name="philhealth" type="text" class="form-control" placeholder="Enter your Philhealth here" aria-label="fullname" aria-describedby="basic-addon1">         
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">HDMF</label>
                            <input id="hmdf" name="hmdf" type="text" class="form-control" placeholder="Enter your HDMF here" aria-label="fullname" aria-describedby="basic-addon1">      
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label class="form-label" for="mu_password">Tax</label>
                            <input id="tax" name="tax" type="text" class="form-control" placeholder="Enter your tax here" aria-label="fullname" aria-describedby="basic-addon1">      
                        </div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <button id="addBtn" name="addBtn" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm w-50">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Add
                        </button>
                    </div>
                </div>      
            </div>
        </div>
    </div>

    <!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold table-title">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="payroll_dataTable" width="100%" cellspacing="10">
                <thead>
                    <tr>
                        <th class = "col-1 text-start">Detail ID</th>
                        <th class = "col-1 text-center">Employee ID</th>
                        <th class = "col-1 text-center">Payroll Date</th>
                        <th class = "col-3 text-center">Date Covered</th>
                        <th class = "col-2 text-center">Absences</th>
                        <th class = "col-2 text-end">Late</th>
                        <th class = "col-2 text-end">Undertime</th>
                        <th class = "col-2 text-end">Allowance</th>         
                        <th class = "col-2 text-end">Cash Advance</th>
                        <th class = "col-2 text-end">SSS</th>         
                        <th class = "col-2 text-end">SSS loan</th>         
                        <th class = "col-2 text-end">Philhealth</th>         
                        <th class = "col-2 text-end">HDMF</th>         
                        <th class = "col-2 text-end">Tax</th>         
                        <th class = "col-2 text-end">Status</th>         
                        <th class = "col-2 text-end">Created by</th>         
                        <th class = "col-2 text-end">Created Date</th>         
                        <th class = "col-2 text-end">Action</th>         
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td-hover-color">1000</td>
                        <td class="td-hover-color">0001</td>
                        <td class="td-hover-color">69420</td>                                        
                        <td class="td-hover-color">0001</td>
                        <td class="td-hover-color">69420</td>
                        <td class="td-hover-color">0001</td>
                        <td class="td-hover-color">69420</td>
                        <td class="td-hover-color">Active</td>
                        <td class="td-hover-color">SOLEDAD</td>
                        <td class="td-hover-color">2004/05/15</td>
                        <td class="td-hover-color">2004/05/15</td>
                        <td class="td-hover-color">2004/05/15</td>
                        <td class="td-hover-color">2004/05/15</td>
                        <td class="td-hover-color">2004/05/15</td>
                        <td class="td-hover-color">2004/05/15</td>
                        <td class="td-hover-color">2004/05/15</td>
                        <td class="td-hover-color">2004/05/15</td>
                        <td class="text-center">
                            <button id="" name="" type="button" class="btn btn-outline-primary button-margin">Inactive</button>
                            <button id="" name="" type="button" class="btn btn-outline-primary">Edit</button>  
                        </td>                                     
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>